<div class="container">
  <h2>ユーザー</h2>
  <% @users.each do |user| %>
    <% if user.id != current_user.id %>
     <li>
      <div class="item">
       <p><%= profile_img(user) %></p>
       <p><%= link_to user.name, user_path(user.id) %></p>
       <p><%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%></p>
     </div>
       <%= render partial: 'follow_form', locals: { user: user } if signed_in?   %>
     </li>
    <% end %>
  <% end %>
</div>

